<div class="container">
  <form class="upload-form" #bookForm="ngForm" (ngSubmit)="addBook(bookForm)">

    * Title:
    <input type="text" name="title" required ngModel
           placeholder="Robinson Crouse">
    <br>

    <label>* Author:</label>
    <input type="text" name="author" required ngModel
           placeholder="Daniel Defoe">
    <br>

    <label>* Publisher:</label>
    <input type="text" name="publisher" required ngModel
           placeholder="William Taylor">
    <br>
    <label>* Summary:</label>
    <br>
    <textarea name="summary" required ngModel> </textarea>

    <label>*Tags:</label>
    <input type="text" name="tags" required ngModel
           placeholder="Friday Island Robinson">
    <br>

    <label>Subject:</label>
    <select
      required ngModel name="subject" #subject="ngModel"
      (change)="changeSubject($event.target)">
      <option *ngFor="let subject of subjects">
        {{subject}}
      </option>
    </select>

    <label>*Type of book:</label>
    <select
      required ngModel name="typeOfBook" #type="ngModel"
      (change)="changeBookType($event.target)">
      <option *ngFor="let type of types">
        {{type}}
      </option>
    </select>

    <br>
    <span *ngIf="bookType === 'handbook' || bookType === 'digital'">
      <label>* Photo:</label>
      <br>
      <input type="file" required name="photo" ngModel
             (change)="photoInput($event)">
    </span>
    <br>
    <span *ngIf="bookType === 'digital'">
      <label> * File: </label>
      <br>
      <input type="file" required name="file" ngModel
             (change)="fileInput($event)">
    </span>
    <br>
    <br>
    <input class="btn" type="submit" value="Add book" style="width: 200px;" [disabled]="!bookForm.valid">
  </form>
</div>

