<button (click)="activityClicked('reading')"
        *ngIf="activityButton !== 'reading'">
  Reading Activity
</button>

<button (click)="activityClicked('')"
        *ngIf="activityButton === 'reading'"
        [ngClass]="{'active': activityButton === 'reading'}">
  Hide reading info
</button>

<button (click)="activityClicked('comment')"
        *ngIf="activityButton !== 'comment'">
  Comment Activity
</button>

<button (click)="activityClicked('')"
        *ngIf="activityButton === 'comment'"
        [ngClass]="{'active': activityButton === 'comment'}">
  Hide comment info
</button>

<button (click)="activityClicked('rating')"
        *ngIf="activityButton !== 'rating'">
  Rating Activity
</button>
<button (click)="activityClicked('')"
        *ngIf="activityButton === 'rating'"
        [ngClass]="{'active': activityButton === 'rating'}">
  Hide rating info
</button>

<!--READING ACTIVITY-->
<div *ngIf="activityButton === 'reading'">
  <div *ngFor="let reading of readStatistic" class="single-info">
    <!--{{reading | json}}-->
    User <b>{{reading.User.name}}</b>
    <span *ngIf="reading.take_read"> <b> take </b> book for reading</span>
    <span *ngIf="reading.continue_read"> <b> continue </b> read book</span>
    <span *ngIf="reading.get_back"><b> return </b> book to office</span>
    <br>
    <b>{{reading.created_at | date}}</b>
  </div>
  <button (click)="activityClicked('')">Hide reading info</button>
</div>

<!--COMMENT ACTIVITY-->
<div *ngIf="activityButton === 'comment'">
  <div *ngFor="let comment of commentStatistic" class="single-info">
    <!--{{comment | json}}-->
    User <b>{{comment.User.name}}</b>
    <!--When comment is created-->
    <span *ngIf="comment.is_create"> <b> create new</b>  comment </span>
    <!--When comment is updated-->
    <span *ngIf="comment.is_update"> <b> update</b> comment <u>"{{comment.old_comment}}"</u> to </span>
    <u>"{{comment.new_comment}}"</u>.
    <br>
    <b>{{comment.created_at | date}}</b>
  </div>
  <button (click)="activityClicked('')">Hide comment info</button>
</div>

<!--RATING ACTIVITY-->
<div *ngIf="activityButton === 'rating'">
  <div *ngFor="let rating of ratingStatistic" class="single-info">
    <!--{{rating | json}}-->
    User <b>{{rating.User.name}}</b> rate it on <b>{{rating.star}} </b> stars
    <br>
    <b>{{rating.created_at | date}}</b>
  </div>
  <button (click)="activityClicked('')">Hide rating info</button>
</div>

