<div class="book" routerLink='/book/{{id}}' (click)="ckc()">
  <i class="fas fa-book" *ngIf="!is_digital">
    <span class="tooltiptext">Handbook</span>
  </i>
  <span class="title">
    {{title}}
    <span class="tooltiptext" *ngIf="isTitleTooLong">{{hoveredTitle}}</span>
  </span>
  <br>
  {{type_of_book}}
  <br>
  <img src="{{image}}" alt="{{title}}" class="image">
  <div class="stars" *ngIf="avgStar">
    {{avgStar}} <i class="fas fa-star"></i>
    <br>
    {{countOfVotes}} vote(s)
  </div>

  <div *ngIf="!avgStar">
    Not rated yet.
    <br>
    Be first !
  </div>
</div>
