<div class="container">
  <div class="basicInfo">


    <!--THIS BLOCK OF CODE JUST FOR ADMIN USER-->
    <div *ngIf="userRole == 1" class="admin-panel">
      <button (click)="showDelete()" [ngClass]="{'active': isDeleteClicked}">DELETE BOOK</button>

      <button *ngIf="is_reading" (click)="showNotReading()"
              [ngClass]="{'active': isReadingClicked}">Book not reading already
      </button>

      <button (click)="showUpdate()"
              [ngClass]="{'active': isUpdateClicked}">Change info
      </button>

      <button (click)="showStat()"
              [ngClass]="{'active': isShowStat}">Show book activity
      </button>
      <br>
      <app-book-statistic *ngIf="isShowStat"></app-book-statistic>

      <!--Buttons for delete book-->
      <div *ngIf="isDeleteClicked" class="admin-panel">
        DELETE THIS BOOK ? <br>
        <button (click)="deleteBook()"> YES. Destroy it!</button>
        <button (click)="showDelete()"> No. It's just miss click</button>
      </div>

      <div *ngIf="isReadingClicked" class="admin-panel">
        This book already in office ? <br>
        <button (click)="returnBook(id)"> YES. Already here!</button>
        <button (click)="showNotReading()"> No. Some man still read this</button>
      </div>

      <!--Form for updating book-->
      <form #newInfo="ngForm" *ngIf="isUpdateClicked" (ngSubmit)="updateBook(newInfo.value)">
        Title:
        <input type="text" name="title" ngModel placeholder="{{title}}">
        Author:
        <input type="text" name="author" ngModel placeholder="{{author}}">
        Publisher:
        <input type="text" name="publisher" ngModel placeholder="{{publisher}}">
        Summary:
        <input type="text" name="summary" ngModel placeholder="{{summary}}">
        Tags:
        <input type="text" name="tags" ngModel placeholder="{{book.tags}}">
        Subject:
        <input type="text" name="subject" ngModel placeholder="{{subject}}">
        Type
        <select style="display:block;" ngModel name="typeOfBook"
                (change)="changeBookType($event.target)">
          <option value="handbook"> handbook</option>
          <option value="digital"> digital</option>
        </select>
        Photo
        <input type="file" name="photo" ngModel
               (change)="photoInput($event)">
        <br>
        File
        <input *ngIf="isBookDigital" type="file" name="file" ngModel
               (change)="fileInput($event)">
        <br>
        <button type="submit" [disabled]="!newInfo.valid"> Submit</button>
      </form>
    </div>
    <!--FINISH OF ADMIN CODE-->

    <h1> {{title}} </h1>
    <b>Author: </b>{{author}}
    <br>
    <b>Publisher: </b>{{publisher}}
    <br>
    <b>Subject: </b>{{subject}}
    <div class="summary">
      {{summary}}
    </div>
    <br>
    <div *ngIf="tags">
      <b>Tags: </b>
      <span *ngFor="let tag of tags">
        <a style="cursor: pointer" routerLink='/search/tag/{{tag}}'>{{tag}}, </a>
      </span>
    </div>
    <br>
  </div>
  <div class="statistic">
    <img src="{{image}}" alt="{{title}}" class="image">

    <div *ngIf='isTokenPreset'>
      <!--FOR DIGITAL BOOKS-->
      <div *ngIf="is_digital">
        <p *ngFor="let link of links">
          <a href="{{API_HOST + link.location}}">Download {{link.type_of_file}}</a>
        </p>
      </div>
      <!--FOR HAND BOOKS-->
      <div *ngIf="!is_digital" class="bookIsReading">
        <span *ngIf="is_reading">This book reading until {{timeToEnd}}</span>
        <br>
        <span *ngIf="is_reading">{{book.userName}} read this book</span>
        <button *ngIf="!is_reading" (click)="readThisBook()" class="readBook">
          <span>I want read this book</span>
        </button>
        <div *ngIf="userIdWhoRead == userId && is_reading">
          <button class="btn still-read" *ngIf="!is_delaying" (click)="sillRead(id)">I still reading this</button>
          <button class="btn return-book" (click)="returnBook(id)">Return book</button>
        </div>
      </div>
      <div align="center" class="commentCount">
        This book have {{countOfComments}} comments
      </div>
    </div>
    <br>
  </div>

  <form #comment="ngForm" *ngIf="isTokenPreset">
    <input type="text" name="comment" required ngModel #comment="ngModel" placeholder="You can leave comment here">
    <button class="btn waves-effect waves-light" type="submit" name="action"
            [disabled]="!comment.valid"
            (click)="createComment(comment.value)">
      Submit
    </button>
  </form>

  <div class="allComments">
    <app-comment
      *ngFor=" let comment of comments"
      [comment]="comment">
    </app-comment>
    <a class="btn waves-effect waves-green commentButton"
       *ngIf="(countOfComments > commentPaginationCount) && (countOfComments > commentLimit)"
       (click)="allBookComments()">
      Get next {{commentPaginationCount}} comments
    </a>
  </div>
</div>
