<p>
  <br>
  {{subject}}
  <br>
  <br>
  {{type_of_book}}
  <br>
  {{type_of_content}}
  <br>
  {{type_of_file}}
  <br>
  {{user_id}}
</p>
<div class="main">

  <div class="basicInfo">
    <h1> {{title}} </h1>
    Author: {{author}}
    <br>
    Publisher: {{publisher}}
    <div class="summary">
      {{summary}}
    </div>
    <br>
    Tags: {{tags}}
    <br>
  </div>

  <div class="statistic">
    <img src="{{image}}" alt="{{title}}" class="image">

    <button *ngIf="isReading">This book reading until</button>
    <button *ngIf="!isReading">I want read this book</button>
    <br>
    <button (click)="allBookComments()"> See {{countOfComments}} comments</button>
  </div>

  <form #comment="ngForm">
    <input type="text" name="comment" required ngModel #comment="ngModel">
    <input type="submit" value="Leave comment" (click)="createComment(comment.value)">
  </form>

  <app-comment
    *ngFor=" let comment of comments"
    [comment]="comment">
  </app-comment>

</div>
