.basicInfo {
  position: relative;
  width: 75%;
  float: left;
}

.statistic {
  position: relative;
  width: 25%;
  float: left;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.summary {
  margin-top: 10px;
}

.commentButton {
  background-color: #c2c201;
  margin-top: 20px;
  margin-bottom: 20px;
}

.readBook {
  background-color: #3290c2;
  border: 0;
  width: 100%;
  cursor: pointer;
  height: 40px;
}

.readBook {
  position: relative;
  transition: .7s;
}

.readBook:hover {
  background-color: #33b0e3;
}

.bookIsReading {
  color: #b40000;
}

.still-read {
  background-color: #c29600;
  width: 80%;
  margin-top: 10px;
}

.return-book {
  background-color: #13ac02;
  width: 80%;
  margin-top: 10px;
}

.allComments {
  margin-bottom: 60px;
}

.admin-panel>button {
  margin: 20px;
  padding: 10px;
  background-color: #eeeeee;
}
.btn {
  margin-top: 20px;
}

select {
  display: block;
  height: 34px;
}

.active {
  -webkit-box-shadow: 0px 0px 46px -1px rgba(58,167,186,1);
  -moz-box-shadow: 0px 0px 46px -1px rgba(58,167,186,1);
  box-shadow: 0px 0px 46px -1px rgba(58,167,186,1);
}
