.loginButtons {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  float: right;
  color: #575658;
}

.logged {
  display: none;
}

.main {
  margin: 45px auto 0;
  padding-top: 30px;
  color: #838787;
  background-size: 100%;
  width: 95%;
}

.fa-fort-awesome {
  margin-left: 30px;
  font-size: 25px;
  color: #7f8081;
  cursor: pointer;
}

.mainText {
  padding-top: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.loginForm {
  text-align: center;
  width: 20%;
  margin: auto;
}

.loginForm form input {
  text-align: center;
}

.error {
  position: relative;
  background-color: rgba(227, 118, 139, 0.59);
  border: 2px solid red;
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 100%;
  margin: 20px 0px;
}

.fullSearch{
  width: 250px;
  margin-left: 75%;
}
.fullSearch form input{
  width: 200px;
}
.fa-search {
  color: #9f9f9f;
  font-size: 20px;
}
.fa-search:hover {
  color: black;
}

.btn {
  margin-right: 20px;
  background-color: #78b8fc;
  color: black;
  font-weight: bold;
  border: 0px;
}

.home-page-btn {
  width: 237px;
  height: 63px;
  display: inline-block;
  background-image: url('new-logo.png');
}
