<div class="container">
  <div class="main">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <div routerLink="/" class="home-page-btn"></div>
    <i class="fas fa-sign-in-alt loginButtons" *ngIf="!(isAuth | async)" (click)="signIn()"> SIGN IN</i>
    <i class="fas fa-sign-out-alt loginButtons" *ngIf="isAuth | async" (click)="signOut()"> SIGN OUT </i>
    <br>
    <!--{{userInfo | json}}-->
    <div class="fullSearch">
      <form (ngSubmit)="search(word.value)">
        <input type="text" name="word" ngModel #word="ngModel" placeholder="Search">
        <i class="fas fa-search" (click)="search(word.value)"></i>
      </form>
    </div>

    <div class="loginForm">
      <form (ngSubmit)="loginUser(email.value, password.value)" *ngIf="isLoginClicked" #loginForm="ngForm">
        <input type="email" name="email" required ngModel #email="ngModel" placeholder="HR system email">
        <input type="password" name="password" required ngModel #password="ngModel" placeholder="HR system password">
        <button class="btn" [disabled]="!loginForm.valid"><span> LOGIN </span></button>
      </form>
      <div class="error" *ngIf="isErrorPresent">
        {{isErrorPresent}}
      </div>
    </div>

    <!--TOP 5-->
    <button class="btn" [ngClass]="{'clicked': (mainClicked | async) == 1}"
            routerLink="/" *ngIf="!(isBlocked | async)" (click)="mainButtonClick(1)"> Top Five
    </button>
    <!--ALL BOOKS-->
    <button class="btn" [ngClass]="{'clicked': (mainClicked | async) == 2}"
            routerLink="/allbooks" *ngIf="!(isBlocked | async)" (click)="mainButtonClick(2)"> All Books
    </button>
    <!--ADD NEW BOOK-->
    <button class="btn" [ngClass]="{'clicked': (mainClicked | async) == 3}"
            routerLink="/upload" *ngIf="!(isBlocked | async) && (isAuth | async)" (click)="mainButtonClick(3)">Add New Book
    </button>
    <!--STATISTIC (Just for admin)-->
    <button class="btn" [ngClass]="{'clicked': (mainClicked | async) == 4}"
            routerLink="/statistic" *ngIf="isAdmin | async" (click)="mainButtonClick(4)">To statistic page
    </button>
    <!--SUBJECTS (just for admin)-->
    <button class="btn" [ngClass]="{'clicked': (mainClicked | async) == 5}"
            routerLink="/subjects" *ngIf="isAdmin | async" (click)="mainButtonClick(5)">Show subjects
    </button>
    <div *ngIf="(mainClicked | async) == 1">
      <button class="small-btn"
              [ngClass]="{'small-clicked': (whatTopClicked | async) === 'rating'|| !(whatTopClicked | async) }"
              (click)="topByRating()">Top 5 by rating</button>
      <button class="small-btn"
              [ngClass]="{'small-clicked': (whatTopClicked | async) === 'comment'}"
              (click)="topByComments()">Top 5 by comments</button>
      <button class="small-btn"
              [ngClass]="{'small-clicked': (whatTopClicked | async) === 'reading'}"
              (click)="topByReading()">Top 5 by reading</button>
    </div>
    <br>
  </div>
  <router-outlet *ngIf="!(isBlocked | async)"></router-outlet>

  <div *ngIf="(isBlocked | async) && (isAuth | async)">
    NO NO NO
  </div>
</div>
