/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f7f7f7;
}

.container {
  width: 75%;
  background-color: white;
}

.books-header-text {
  font-size: 30px;
  color: #2f3435;
}
