<button (click)="showTopReadedBooks()"
        [ngClass]="{'active': (whatStatClicked | async) === 'topBooks'}">
  Show most readed books
</button>

<button (click)="showTopUsers()"
        [ngClass]="{'active': (whatStatClicked | async) === 'topUsers'}">
  Show most readed users
</button>

<button (click)="showAllReadingInfo()"
        [ngClass]="{'active': (whatStatClicked | async) === 'reading'}">
  Show all reading statistic
</button>

<button (click)="showAllCommentInfo()"
        [ngClass]="{'active': (whatStatClicked | async) === 'comment'}">
  Show all comment statistic
</button>

<button (click)="showAllRatingInfo()"
        [ngClass]="{'active': (whatStatClicked | async) === 'rating'}">
  Show all rating statistic
</button>

<!--TOP BOOKS -->
<div *ngIf="(whatStatClicked | async) === 'topBooks'">
  <div *ngFor="let book of topBooks" class="single-info">
    Book title: <b>{{book.Book.title}}</b><br>
    This book reading <b>{{book.countOfRead}}</b> times
    <br>
    <button routerLink="/book/{{book.Book.id}}">Go to book info</button>
  </div>
</div>

<!--TOP USERS-->
<div *ngIf="(whatStatClicked | async) === 'topUsers'">
  <div *ngFor="let user of topUsers" class="single-info">
    User <b>{{user.User.name}}</b> read <b>{{user.countOfRead}}</b> books for all time
  </div>
</div>

<!--ALL READING ACTIVITY-->
<div *ngIf="(whatStatClicked | async) === 'reading'">
  <div *ngFor="let reading of readStatistic" class="single-info">
    <!--{{reading | json}}-->
    User <b>{{reading.User.name}}</b>
    <span *ngIf="reading.take_read"> <b> take </b> book <b>{{reading.Book.title}}</b> for reading</span>
    <span *ngIf="reading.continue_read"> <b> continue </b> read book <b>{{reading.Book.title}}</b></span>
    <span *ngIf="reading.get_back"><b> return </b> book <b>{{reading.Book.title}}</b> to office</span>
    <br>
    <b>{{reading.created_at | date}}</b>
    <br>
    <button routerLink="/book/{{reading.book_id}}">Go to book info</button>
  </div>
  <button (click)="moreInfo('reading')" *ngIf="isPaginationPresent">GET NEXT {{paginationLimit}} VALUES</button>
</div>

<!--ALL COMMENT ACTIVITY-->
<div *ngIf="(whatStatClicked | async) === 'comment'">
  <div *ngFor="let comment of commentStatistic" class="single-info">
    User <b>{{comment.User.name}}</b>
    <!--When comment is created-->
    <span *ngIf="comment.is_create"> <b> create new</b>  comment </span>
    <!--When comment is updated-->
    <span *ngIf="comment.is_update"> <b> update</b> comment <u>"{{comment.old_comment}}"</u> to </span>
    <u>"{{comment.new_comment}}"</u> to book <b>{{comment.Book.title}}</b>.
    <br>
    <b>{{comment.created_at | date}}</b>
    <br>
    <button routerLink="/book/{{comment.book_id}}">Go to book info</button>
  </div>
  <button (click)="moreInfo('comment')"  *ngIf="isPaginationPresent">GET NEXT {{paginationLimit}} VALUES</button>
</div>

<!--ALL RATING ACTIVITY-->
<div *ngIf="(whatStatClicked | async) === 'rating'">
  <div *ngFor="let rating of ratingStatistic" class="single-info">
    <!--{{rating | json}}-->
    User <b>{{rating.User.name}}</b> rate book <b>{{rating.Book.title}}</b> on <b>{{rating.star}} </b> stars
    <br>
    <b>{{rating.created_at | date}}</b>
    <br>
    <button routerLink="/book/{{rating.book_id}}">Go to book info</button>
  </div>
  <button (click)="moreInfo('rating')" *ngIf="isPaginationPresent">GET NEXT {{paginationLimit}} VALUES</button>
</div>
