<div class="comment">
  <div class="info">
    <span class="user">{{user}}</span>
    <span class="date">{{date}}</span>
  </div>
  {{commentText}}
</div>

<div *ngIf="userRole == 1">
  <button (click)="showDelete()">DELETE COMMENT</button>
  <button (click)="showUpdate()">CHANGE COMMENT</button>

  <div *ngIf="isDeleteClicked">
    Are you sure?
    <button (click)="deleteComment()">Yes. It's bad comment</button>
    <button (click)="showDelete()"> No no no</button>
  </div>
  <div *ngIf="isUpdateClicked">
    <form #newComment="ngForm" (ngSubmit)="updateComment(newComment.value)">
      <input type="text" name="comment" ngModel placeholder="{{commentText}}">
      <button type="submit">OK</button>
    </form>
  </div>
</div>
